/*Product Upsell Style*/
.upsell-v2-product-upsell-table-cont {
    border-bottom: 1px solid #ccc;
}

#upsell-v2-product-upsell-title + .upsell-v2-product-upsell-table-cont {
    border-top: 1px solid #ccc;
}

.upsell-v2-product-upsell-table-cont:last-child{
    border-bottom: 1px solid transparent;
}

h5#upsell-v2-product-upsell-title {
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 0px;
    font-size: 16px;
    letter-spacing: -.025em;
}
.upsell-v2-product-upsell-table-cont td {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.small-12.spinner {
    height: 465px;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    position: relative;
}

.small-12.spinner>img {
    position: absolute;
    left: 41%;
    top: 39%;
}

td.upsell-v2-product-upsell-simple-prod-cb-td, td.upsell-v2-product-upsell-variable-prod-cb-td {
    width: 25px;
    padding-right: 0px;
}

td.upsell-v2-product-upsell-simple-prod-cb-td input, td.upsell-v2-product-upsell-variable-prod-cb-td input{
    margin-right: 0px;
    width: 2rem;
    height: 2rem;
}

td.upsell-v2-product-upsell-product-image > img {
    width: 60px;
}

table.upsell-v2-product-upsell-inner-table > tbody > tr > td {
    display: inline-block;
    padding: 0;
}
table.upsell-v2-product-upsell-inner-table > tbody > tr > td.upsell-v2-product-upsell-label,
table.upsell-v2-product-upsell-inner-table > tbody > tr > td.upsell-v2-product-upsell-qty-label {
    padding: 0 8px;
}
td.upsell-v2-product-upsell-variable-dropdown-cont,
td.upsell-v2-product-upsell-variable-product-qty-select-td {
    width: 75px;
}
table#upsell-v2-product-upsell-table td.upsell-v2-product-upsell-variable-product-qty-select-td select {
    margin-bottom: 1em;
}

td.upsell-v2-product-upsell-prod-price {
    width: 85px;
    position: relative;
    top: 8px;
}

a.upsell-v2-product-single-data-modal {
    display: block;
    width: 20px;
    height: 20px;
    background: #ddd;
    text-align: center;
    border-radius: 50%;
    /*font-weight: 600;*/
    color: #666;
    line-height: 1.5;
    float: right;
}
table#upsell-v2-product-upsell-table select {
    margin: .5em 0;
    padding: 0 5px;
    height: 25px;
}
td.upsell-v2-product-upsell-nested-table-td {
    position: relative;
    top: 5px;
}
td.upsell-v2-product-upsell-product-title {
    position: relative;
    top:5px;
    left: -8px;
    color: black;
    width: 320px;
}

td.upsell-v2-product-upsell-additional-info {
    position: relative;
    top: 9px;
}

.upsell-v2-product-upsell-variable-product td.upsell-v2-product-upsell-additional-info {
    top: 50px;
}

td.upsell-v2-product-upsell-product-image {
    width: 85px;
    min-width: 60px;
}

table#upsell-v2-product-upsell-table {
    margin-bottom: 0;
}
table.upsell-v2-product-upsell-inner-table {
    margin: 5px 0px;
}
table.upsell-v2-product-upsell-inner-table>tbody>tr {
    text-align: center;
}

/* MODAL STYLES */
.mfp-content .upsell-v2-product-single-modal-outer-cont {
    background-color: transparent;
}
.upsell-v2-product-single-product-data-modal-inner-cont.row {
    width: 50vw;
    margin: 0 auto;
    padding: 10px 30px;
    background: white;
    border-radius: 5px;
}

span.upsell-v2-product-single-data-modal-dismiss {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    background: black;
    color: white;
    text-align: center;
    line-height: 1.8;
    border-radius: 50%;
    position: absolute;
    right: -45px;
    top: -24px;
}

.upsell-v2-product-single-upsell-modal-header-cont.small-12 {
    position: relative;
}

.upsell-v2-product-single-upsell-modal-header-cont.small-12 > h3 {
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

.upsell-v2-product-upsell-modal-img-big.small-12 {}

.upsell-v2-product-single-product-data-modal-images-cont.small-12.medium-6 {
    padding-left: 15px;
}

.upsell-v2-product-single-modal-img-small.small-2 {
    display: none;
    border: 1px solid white;
}

button.upsell-v2-product-single-modal-add-to-cart {
    display: block;
    background: #000000;
    width: 100%;
    color: white;
    font-size: 1.3em;
    line-height: 2.4em;
    text-transform: uppercase;
}

.upsell-v2-checkout-addon-modal-button-cont {
    padding-top: 30px;
}

.upsell-v2-product-single-modal-img-small.small-2 > img {
    cursor: pointer;
}

.upsell-v2-product-single-product-data-modal-description-cont.small-12.medium-6 {
    padding-left: 30px;
}


/* 1280px */
@media (max-width: 1280px){

}

/* 1024px */
@media (max-width: 1024px){
    .upsell-v2-product-single-product-data-modal-inner-cont.row {
        width: 77vw;
    }
    td.upsell-v2-product-upsell-product-title {
        left: -6px;
        top: 11px;
    }
    table#upsell-v2-product-upsell-table {
        margin-bottom: 0;
        font-size: 0.9em;
    }
    td.upsell-v2-product-upsell-product-image > img {
        position: relative;
        right: 3px;
    }
    table#upsell-v2-product-upsell-table select {
        height: 20px;
    }
}

/* 800px */
@media (max-width: 800px){
    .upsell-v2-product-single-product-data-modal-inner-cont.row {
        width: 93vw;
    }
}

/* 600px */
@media (max-width: 600px){
    table#upsell-v2-product-upsell-table {
        font-size: 1em;
    }
    td.upsell-v2-product-upsell-product-title {
        left: -6px;
        top: 6px;
        font-size: 0.85em;
        vertical-align: top;
    }
    table.upsell-v2-product-upsell-inner-table {
        margin: 0px 0px 5px;
    }
    table.upsell-v2-product-upsell-inner-table > tbody > tr > td {
        padding-left: 0px;
    }
    table#upsell-v2-product-upsell-table select {
        height: 25px;
    }
    .upsell-v2-product-single-product-data-modal-inner-cont.row {
        width: 90vw;
    }
    .upsell-v2-product-upsell-label label {
        font-size: 1em;
    }
}

/* 540px */
@media (max-width: 540px){
    td.upsell-v2-product-upsell-product-image > img {
        right: -3px;
    }
    .upsell-v2-product-single-upsell-modal-header-cont.small-12 > h3 {
        font-size: 1.2em;
    }
    .upsell-v2-product-single-product-data-modal-images-cont.small-12.medium-6 {
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .upsell-v2-product-single-product-data-modal-description-cont.small-12.medium-6 {
        width: 100% !important;
        padding-left: 0;
        padding-top: 15px;
    }
    button.upsell-v2-product-single-modal-add-to-cart {
        font-size: 1.2em;
    }
    .upsell-v2-product-single-product-data-modal-inner-cont.row {
        width: 88vw;
    }
}

/* 480px */
@media(max-width: 480px){
    .upsell-v2-product-single-upsell-modal-header-cont.small-12 > h3 { 
        font-size: 1.1em;
    }
    button.upsell-v2-product-single-modal-add-to-cart {
        font-size: 1.1em;
    }
    td.upsell-v2-product-upsell-product-image > img {
        right: 4px;
    }
    td.upsell-v2-product-upsell-prod-price {
        top: 6px;
		padding: 0px 0px;
		text-align: center;
    }
}

/* 414px */
@media (max-width: 414px){
    table#upsell-v2-product-upsell-table {
        font-size: 0.9em;
    }
}

/* 375px */
@media (max-width: 375px){
    table#upsell-v2-product-upsell-table {
        font-size: 0.8em;
    }
    .upsell-v2-product-single-product-data-modal-inner-cont.row {
        width: 83vw;
    }
}